<input class="selected" type="checkbox" [(ngModel)]="part._selected"/>
<input class="name"     [(ngModel)]="name"/>
<input class="fill"     [(ngModel)]="part.fill"/>
<input class="stroke"   [(ngModel)]="part.stroke"/>
<input class="posX"     [(ngModel)]="posX"/>
<input class="posY"     [(ngModel)]="posY"/>
<input class="angleC"   [(ngModel)]="angleCenter"/>
<input class="angleA"   [(ngModel)]="angle"/>

<input class="zindex"   [(ngModel)]="part.zindex"/>
<!-- <input class="zindex"   value="'+newDesign.parts[name].zindex+'"/> -->
<input *ngIf="part.shape" class="shape" [(ngModel)]="shape"/>
<input class="hidden" type="checkbox" [(ngModel)]="part.hidden"/>
<button class="copyBtn" (click)="copyPart()">copy</button>
<button class="delBtn" (click)="deletePart()">del</button>

<div *ngFor="let subpart of subparts" class="subpart" app-part-data 
[part]="part.parts[subpart]"
[parentPart]="part.parts"
[name]="subpart"></div>